<html>
<!-- Material Design fonts -->
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

 <!-- Bootstrap -->
 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <style>
	td, th {
		padding-left: 0.5em
	}
	.restore {
		margin: 1em
	}
  .vm {
    padding: 1em
  }
 </style>
<body >

<div ng-app="MyApp" class="containera">
<div ng-controller="MainCtrl as vm" class="vm">
  <input placeholder="Filename pattern" ng-model="vm.pattern"/>
	<button ng-click='vm.getLockyFiles()' ng-hide='vm.showButton' class="btn btn-primary restore">Find matching files</button>
  <hr/>
	<table ng-show="vm.showButton">
		<tr>
			<th> Title </th>
			<th> Last modified </th>
			<th> Previously modified </th>
			<th> originalFilename </th>
			<th> fileExtension </th>
			<th> Restore? </th>
			<th> Locky deleted </th>
			<th> Metadata fixed </th>
		</tr>
		<tr ng-repeat="file in vm.files track by $index">
			<td> {{file.title}} </td>
			<td> {{file.modifiedDate}} </td>
			<td> {{file._previous}} </td>
			<td> {{file.originalFilename}} </td>
			<td> {{file.fileExtension }} </td>
			<td> <input type="checkbox" ng-model=file._restore   /> </td>
			<td> {{file._lockyStatus }} </td>
			<td> {{file._metaStatus }} </td>
		</tr>
	</table>
	<button ng-click='vm.restoreFiles()' ng-show='vm.showButton' class="btn btn-primary restore">Restore checked files</button>
  <p>
    Disclaimer<br/>
    This app is provided under an MIT license. There is no warranty whatsoever and the authors accept no liability for any damage, direct or consequential, caused by the use of this app.
  </p>
  <p>
    At any time, you can cancel permissions granted to delockyfier <a href="https://security.google.com/settings/security/permissions" target=="_blank">here.</a>
  </p>
  <h3>
    NB. Google needs to open a popup window to authenticate you. Please ensure that your browser allows popups from this window, and reload this page if necessary.
  </h3>
</div>
</div>
<script src="https://apis.google.com/js/auth.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="bower_components/ngDrive/build/module.js"></script>

<script src="config_delockyfier.js"/></script>
<script src="app.js"/></script>
<script src="mainctrl.js"/></script>
</body>
</html>
